@import "normalize";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$light-grey: #CDDDE0;
$dark-green: #374F33;
$medium-grey: #7C859B;
$white: #FFFFFF;

$susy: (
  columns: 12,
  gutters: 0.25,
  global-box-sizing: border-box,
  debug: (image: show-columns)
  );
body {
  color: $dark-green;
  font-family: Lato;
  a {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
     text-decoration: none;
    }
  }
}

// HOME PAGE

.preloading {
  position: fixed;
  left: 0px;
  top: 76px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/triangle.svg") center no-repeat #7c859b;
  .loading-text {
    position: absolute;
    top: 75%;
    left: 46%;
    font-size: 24px;
    color: white;
  }
}

.home-page .main-image {
  background: url("../images/main.jpg") no-repeat center center;
  -webkit-background-size: cover; //fix this!
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}
.navbar {
  @include span(12);
  height: 76px;
  margin-bottom: 116px;
  background: $white;
  opacity: 0.7;
}
.logo{
  @include span(6 of 12);
  font-size: 26pt;
  margin-left: 50px;
  position: relative;
  top: 20%;
  color: $medium-grey;
  a {
    color: $medium-grey;
  }
}
.navlinks {
  @include span(5 of 12 last);
  font-size: 16pt;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .navlink {
    display: inline-block;
    margin-right: 60px;
    a {
      color: $medium-grey;
    }
  }
}
.main-text {
  margin-left: 25%;
  margin-right: 25%; // might change
  margin-bottom: 50px;
  padding-top: 25%;
  font-size: 17pt; // might change
  line-height: 25pt;
  &.blog {
    margin-left: 10%;
  }
  .introduction-text2 {
    visibility: hidden;
  }
}
.buttons {
  margin-left: 25%;
  font-size: 10pt;
  letter-spacing: .40pt;
  .email-me, .github {
    background: $dark-green; // put in variable
    opacity: 0.5;
    display: inline-block;
    color: #CCC;
    height: 32px;
    border-radius: 25px;
  }
  .email-me {
    width: 176px;
    margin-right: 75px;
  }
  .github {
    width: 200px;
  }
  .email-me-text, .github-text {
    color: white;
    line-height: 32px;
  }
  .email-me-text {
    margin-left: 20px;
  }
  .github-text {
    margin-left: 17px;
  }
}
.recent-work {
  padding: 50px 55px 100px 55px;
  height: 400px;
  .section-title {
    font-size: 17pt;
  }
  .project-descriptions {
    margin-top: 50px;
    .description {
      text-align: center;
    }
  }
  .project {
    border-radius: 25%;
    padding: 5px 15px;
    &:hover {
      -webkit-transform: scale(1.5); 
      -ms-transform: scale(1.5); 
      transform: scale(1.5);
    }
    a {
      color: $dark-green;
    }
    .screenshot {
      height: 234px;
      overflow: hidden;
      img {
        height: 100%;
        opacity: 0.4;
      }
    }
    &.slick-current .screenshot img {
      opacity: 1;
    }
    // .description {
    //   background-color: $light-grey;
    //   height: 93px;
    //   font-size: 10pt;
    //   padding: 20px 30px;
    // }
  }
  // .project-1 {
  //   @include span(3 at 3 of 12);
  // }
  // .project-2 {
  //   @include span(3 at 3 of 12);
  // }
  // .project-3 {
  //   @include span(3 at 6 of 12);
  // }
  // .project-4 {
  //   @include span(3 at 9 of 12 last);
  // }
}
.footer-divider {
  margin-left: 55px;
  margin-right: 55px;
}
.footer {
  height: 75px;
  .copyright span {
    line-height: 75px;
    margin-left: 55px;
  }
  .copyright, .social-media-links {
    display: inline-block;
  }
  .social-media-links {
    float: right;
    margin-right: 55px;
    img {
      height: 35px;
      margin-right: 15px;
    }
  }
  .social-media-links, .copyright span {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
}

// BLOG PAGE
.blog-page .main-image {
  background: url("../images/wip.jpg") no-repeat center center;
  -webkit-background-size: cover; //fix this!
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}

.blog-page .main-text {
  margin-left: 10%;
  padding-top: 10%;
}
